{% extends "homepage/base2.html" %}
{% load static %}


{% block title %}
Bread
{% endblock title %}

{% block content %}
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% 'static/homepage/media/bread/stb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Sweet Topping Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Also known as pineapple bun or “bo luo bao” for its appearance, this soft bread is baked with a sweet and crumbly cookie-like topping.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/stcb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Sweet Topping Coconut Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A soft bun filled with coconut and baked with a crumbly sweet topping.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/stcustardb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Sweet Topping Custard Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A soft bun filled with sweet egg custard and baked with a crumbly sweet topping.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/strbb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Sweet Topping Red Bean Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A soft bun filled with red bean paste and baked with a crumbly topping.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/rpb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Roast Pork Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Also known as “cha siu bao,” this classic bun is filled with our blend of Asian-styled barbecued pork and sweet onions.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/tb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Taro Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A soft bun filled with sweet mashed taro.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/cacb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Cream and Coconut Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Almost like a dessert, this bun has sweet vanilla buttercream piped inside and is sprinkled with coconut flakes.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/dpb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Dried Pork Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Soft bread topped with mayo and savory dried pork.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/sb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>SwitzerLand Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A twirl of soft bread brushed with simple syrup.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/cahb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Corn and Ham Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A soft bun topped with a blend of sweet corn, ham, and creamy mayo.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/hdb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Hot Dog Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Similar to Pigs in a Blanket, this is an all-beef frank wrapped in our signature fluffy bread.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/mcb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Milk Cream Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Traditionally known as the cocktail bun, or “gai mei bao,” this soft bun is filled and lined with a sweet milk cream.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/haeb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Ham and Egg Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Ham and baked egg sandwiched between a soft bun.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/dt.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Denmark Twist</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A fluffy soft bread braided with raisins and glazed with a lemon jam.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/ad.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Almond Danish</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Baked until flaky on the outside, this soft and buttery danish is topped with a blend of almonds and sugar.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/minicb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Mini Coconut Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A small and aromatic bun rolled with sugar and shredded coconut.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/croissant.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Croissant</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A French classic with thin layers of buttery, flaky dough.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/sbl.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Sweet Butter Loaf</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Soft and buttery sweet buns baked into a round pull-apart loaf.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/carl.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Coconut and Raisin Loaf</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A loaf of soft bread with sweet shredded coconut and raisins.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/pmb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Pullman Bread</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Soft milk bread made perfectly for sandwiches or toast.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/spb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Steamed Plain Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A soft steamed bun.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/srbb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Steamed Red Bean Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A sweet puree of red bean inside a steamed bun.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/srpb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Steamed Roast Pork Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A blend of Asian barbequed pork and onions inside a soft steamed bun.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/bread/spavb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Steamed Pork and Vegetable Bun</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A pork and vegetable medley inside a steamed bun.</p>
    </div>
   
</div>

{% endblock content %}