{% extends "homepage/base2.html" %}
{% load static %}


{% block title %}
Cookie
{% endblock title %}

{% block content %}
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/cookie/sc.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Sesame Cookies</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Buttery and tender cookies topped with sesame seeds.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/cookie/pc.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Palmier Cookies</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Light, flaky, and crisp butterfly shaped cookies rolled with sugar.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/cookie/as.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Almond Sable</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A crisp French styled sugar cookie with almonds.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/cookie/bc.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Butter Cookies</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Crisp and sandy sweet butter cookies topped with a sliver of candied cherry.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/cookie/osc.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Oriental Sugar Cookies</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Crispy and sandy Chinese styled sugar cookies.</p>
    </div>
   
</div>
{% endblock content %}