{% extends "homepage/base2.html" %}
{% load static %}


{% block title %}
Pastry
{% endblock title %}

{% block content %}
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/sc.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Sponge Cake</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Our signature sponge cake, a cloud of sweet and fluffy goodness topped with toasted sliced almonds.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/sb.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Sesame Ball</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A round rice cake filled with red bean paste covered in sesame seeds, and then fried golden.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/ect.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Egg Custard Tart</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Not following a traditionally puffy crust, this shortcrust tart shell is filled with a sweet egg custard.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/ct.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Coconut Tart</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">A light and golden crust baked with sweet, shredded coconut.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/mm.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Mango Mousse</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Mango mousse layered on top of vanilla sponge cake, wrapped in almond dacquoise.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/cm.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Chocolate Mousse</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Chocolate mousse layered on top of chocolate sponge cake, wrapped in almond dacquoise.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/tc.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Tiramisu Cup</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Soaked coffee sponge cake with Kahlua and espresso blended mascarpone cheese filling.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/cc.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Coffee Cake</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Coffee sponge cake layered with coffee buttercream and topped with vanilla buttercream and toasted coconut flakes.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/bc.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Buttercream Cake</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Vanilla cake layered in buttercream and covered with crushed peanuts.</p>
    </div>
   
</div>
<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/cococ.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Chocolate Cake</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Chocolate sponge cake with a layer of chocolate buttercream, topped with vanilla buttercream and crushed dark chocolate.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/vrs.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Vanilla Roll Slice</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Vanilla sponge cake rolled with buttercream.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/crs.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Chocolate Roll Slice</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Chocolate sponge cake rolled with chocolate buttercream.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/cofrs.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Coffee Roll Slice</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Coffee sponge cake rolled with coffee buttercream.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/jcs.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Japanese Cheesecake Slice</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">An Asian approach to the decadent cheesecake; the result: a light and airy treat.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/vr.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Vanilla Roll</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Vanilla sponge cake rolled with buttercream.</p>
    </div>
   
</div>

<div class="col-3 contained nopadding" style="height: 250px;">
    <div style="width: 100%; height: 100%;" class="text-center">
        <img src="{% static 'homepage/media/pastry/cr.jpg' %}" alt="Buns" class = "mx-auto logopic">
        <p>Chocolate Roll</p>
    </div>
    <div class="overlay">
        <p class="invis text-center">Chocolate sponge cake rolled with chocolate buttercream.</p>
    </div>
   
</div>


{% endblock content %}