{% extends "homepage/base.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
        <section>
            <img class ="picture-slide" src="{% static 'homepage/media/ourstorypic.jpg' %}">
        </section>
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-9">
                        <h1 class="text-center" style="color:#726766; margin-bottom: 30px;">Our Story</h1>
                        <p>Back in China, Flora's hometown were filled with beautiful and elegant tea flowers called Chrysanthemum, the flower that symbolizes
                            happiness and vitality. When Flora moved to America for a better opportunity, she missed the fragance and scenary of the "Tea Flower" that filled
                            her hometown. So, she wanted to start a business in America that spreads her cultural differences.
                        </p>
                        <p>In July 2009, Flora opened Tea Flower Bakery hoping to instill the same symbolism and qualities as the 
                            Chrysanthemum Flower in its food. To this day, Tea Flower Bakery sell their food to spread happiness and vitality in every bite while maintaining 
                            the elegance and beauty of each carefully hand-crafted bun. 
                        </p>      
                   </div>
                </div>
            </div>
        </section>
{% endblock body %}